*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    width: 90%;
    height: 10rem;
    border-radius: 4px;
    border: none;
    background-color: aquamarine;
    margin-left: 5%;
    margin-top: .4rem;
}
.main-nav{
    width: 90%;
    height: 8rem;
    border-radius: 4px;
    border: none;
    background-color:aquamarine;
    margin-top: .4rem;
    margin-left: 5%;
}
.main{
    width: 90%;
    height: 12rem;
    border-radius: 4px;
    border: none;
    background-color: aquamarine;
    margin-top: .4rem;
    margin-left: 5%;
}
.show-data-div{
    width: 90%;
    height: 4rem;
    border-radius: 4px;
    border: .5px solid red;
    background-color: rgb(146, 172, 163);
    margin-top: .4rem;
    margin-left: 5%;
}
#fetch-data-btn{
    width: 10%;
    height: 1.6rem;
    padding: 4px;
    background-color: rgb(32, 46, 77);
    color:rgb(236, 213, 213);
    font-weight: bolder;
    border-radius: 4px;
    border:none;
    margin-top: .6rem;
    margin-left:45% ;
    cursor: pointer;
}
#fetch-data-btn:hover{background-color: rgb(35, 13, 51);color:white;}
